/* css 主题文件 将页面通用的颜色样式统一定义到该文件 */
//@import "../../style/theme.scss";

//主色,用于按钮背景颜色、按钮字体颜色
:root {
  --themeColor: #1890FF;
}
$themeColor:#1890FF;
// 大标题 黑色85%
$deep-black-color:rgba(0,0,0,0.85);
// 表单标题、普通文字 黑色65%
$deeper-black-color:rgba(0,0,0,0.65);
// 一般提示文字 黑色45%
$lighter-black-color:rgba(0,0,0,0.45);
// 文本框提示文字  黑色25%
$light-black-color:rgba(0,0,0,0.25);

